@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-bar {
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.35s ease;
}

.active .underline-bar {
  transform: scaleX(1);
}

* {
  font-family: Outfit;
}

.prata-regular {
  font-family: 'Prata', serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}
